@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staatliches", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

ul li a {
  position: relative;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: 0.5s;
}

ul li a:hover {
  color: #69ff41;
}
